<mat-card>
    <mat-card-title>{{title}}</mat-card-title>
    <form [formGroup]="formulario" (ngSubmit)="salvar()">
        <mat-form-field>
            <input matInput placeholder="Data de checkin" formControlName="dtCheckin">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Data de checkout" formControlName="dtCheckout">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Id do hospede" formControlName="idHospede">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Id do quarto" formControlName="idQuarto">
        </mat-form-field>


        <div>
            <button mat-raised-button color="primary" type="submit">Salvar</button>
            <button mat-raised-button color="warn" routerLink="/hospedagens/" type="button">Cancelar</button>

        </div>
    </form>


</mat-card>