<mat-card>
    <mat-card-title>{{title}}</mat-card-title>
    <form [formGroup]="formulario" (ngSubmit)="salvar()">
        <mat-form-field>
            <input matInput placeholder="Nome do hospede" formControlName="nmHospede">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Data de nascimento" formControlName="dtNascimento">
        </mat-form-field>


        <mat-form-field>
            <input matInput placeholder="CPF" formControlName="cpf">
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" type="submit">Salvar</button>
            <button mat-raised-button color="warn" routerLink="/hospedes/" type="button">Cancelar</button>
        </div>
    </form>


</mat-card>