<mat-card>
    <mat-card-title>{{title}}</mat-card-title>
    <form [formGroup]="formulario" (ngSubmit)="salvar()">
        <mat-form-field>
            <input matInput placeholder="Nome do hotel" formControlName="nmHotel">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Endereço do hotel" formControlName="endereco">
        </mat-form-field>


        <mat-form-field>
            <input matInput placeholder="Quantidade de estrelas" formControlName="qtdEstrelas">
        </mat-form-field>

        <div>
            <button mat-raised-button color="primary" type="submit">Salvar</button>
            <button mat-raised-button color="warn" routerLink="/hoteis/" type="button">Cancelar</button>
        </div>
    </form>



</mat-card>